.directory-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.directory-text {
  font-size: 30px;
  font-family: "Fuzzy Bubbles";
}
.directory-navlink {
  text-decoration: none;
}
.directory-navlink1 {
  text-decoration: none;
}
